In [13]:
import pandas as pd 

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [14]:
import pandas as pd 

nota = {
  'materia': ["Lenguaje", "Sociales", "Matematica"],
  'nota': [7, 8, 6]
}

mostrar = pd.DataFrame(nota)

print(mostrar)

      materia  nota
0    Lenguaje     7
1    Sociales     8
2  Matematica     6

In [15]:
import pandas as pd
print(pd.__version__)

1.5.3

In [16]:
""" marcos de datos
Los conjuntos de datos en Pandas suelen ser tablas multidimensionales, 
llamadas DataFrames.
La serie es como una columna, un DataFrame es la tabla completa."""

import pandas as pd 

estudiante = {
  'materia': ["Lenguaje", "Sociales", "Matematica"],
  'nota': [7, 8, 6]
}

mostrar = pd.DataFrame(estudiante)

print(mostrar)

      materia  nota
0    Lenguaje     7
1    Sociales     8
2  Matematica     6

In [11]:
""" ¿Qué es una serie?
Una Serie Pandas es como una columna en una tabla.
Es una matriz unidimensional que contiene datos de cualquier tipo."""

import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)
#Devuelve el primer valor de la Serie:
print(myvar[0])

0    1
1    7
2    2
dtype: int64
1

In [12]:
#crea tus propias etiquetas 
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

#Al crear etiqueta se puede acceder a los valores
#haciendo referencia a ellas 
#Devolver el valor de "y":
print(myvar["y"])

x    1
y    7
z    2
dtype: int64
7

In [17]:
""" Las listas son estructuras de datos que pueden almacenar 
cualquier otro tipo de dato, inclusive una lista puede contener otra lista, 
además, la cantidad de elementos de una lista se puede modificar removiendo o añadiendo elementos. 
Para definir una lista se utilizan los corchetes, dentro de estos se colocan todos los elementos 
separados por comas: """

import pandas as pd

lista = {
    'calificaciones' : [10,9,8,7.5,9],
    'nombres' : ["Ana","Juan","Sofía","Pablo","Tania"]
}
mostrar=pd.DataFrame(lista)

print(mostrar)

   calificaciones nombres
0            10.0     Ana
1             9.0    Juan
2             8.0   Sofía
3             7.5   Pablo
4             9.0   Tania

In [18]:
import pandas as pd

lista = {
    'calificaciones' : [10,9,8,7.5,9],
    'nombres' : ["Ana","Juan","Sofía","Pablo","Tania"]
}
mostrar=pd.DataFrame(lista, index = ['lenguaje','matematicas','ciencias', 'sociales', 'ingles'])

print(mostrar)

             calificaciones nombres
lenguaje               10.0     Ana
matematicas             9.0    Juan
ciencias                8.0   Sofía
sociales                7.5   Pablo
ingles                  9.0   Tania

In [27]:
import pandas as pd

leer = pd.read_csv('dato.csv')

print(leer.to_string())

   Nº               NOMBRE DEL ESTUDIANTE   ac1   act2   act3   act4   act5   act6  PROMEDIO
0   1       Acevedo Cruz Alexander Efraín     6      7      8      3      6      7       6.2
1   2        Alegría Méndez Ángel Gabriel     7      7      7      7      7      7       7.0
2   3         Alemán Estrada Regina María     7      3      6      8      2      6       5.3
3   4      Alvarenga Hernández María José     8      4      5      6      5      7       5.8
4   5   Aparicio Ferrufino Yafat Fernando     7      8      9      0      3      6       5.5